#number-attractions-nd {
   font-size: 30px;
}

#total-2015visitors-nd {
   font-size: 30px;
}
#total-2014visitors-nd {
   font-size: 30px;
}

#total-2013visitors-nd {
   font-size: 30px;
}
.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}
#region-visits-row-chart {
   fill:blue;
   background-color:#ddd;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#menu-select {
   background: #33CC99;
   position: relative;
   height: 50px;
   font-size: 29px;
   color: black;
   vertical-align: middle;
   text-align: right;
   padding-top: 12px;
   padding-bottom: 0px;
}


