#number-attractions-nd {
   font-size: 15px;
}

#total-2015visitors-nd {
   font-size: 15px;
}
#total-2014visitors-nd {
   font-size: 15px;
}

#total-2013visitors-nd {
   font-size: 15px;
}
#total-2012visitors-nd {
   font-size: 15px;
}
#total-2011visitors-nd {
   font-size: 15px;
}
.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}
.chart-wrapper {
'#3182bd', '#6baed6', '#9ecae1',  '#dadaeb'
}

.chart-wrapper .chart-title {
   background: #6baed6;
  color: darkblue;
  font-size: 10px;
  font-weight: bold;
}

.navbar-inverse {
  background-color:#6baed6;
  border-color: #333;
}
#main-title  {
   font-size: 20px;
}
#menu-select {
   background: #6baed6;
   position: relative;
   height: 30px;
   font-size: 15px;
   color: black;
   vertical-align: middle;
   padding-top: 12px;
   padding-bottom: 0px;
}


