{% extends "layout.html" %}
{% block content %}
 <h2>About</h2>
     <p align="center">Each year, the national tourism agency VisitBritain/VisitEngland invite all English visitor attractions to take part in an annual survey, recording information about visitor numbers.
         The Annual Survey of Visits to Visitor Attractions is an official statistic and is produced in adherence with the Code of Practice for Official Statistics (2009).

         <br>
         <br>
         VisitBritain/VisitEngland report the results from this survey and make available this data on their website. I have used this survey data from 2015 as the datasource for my dashboard.
         The data file I have used is called 2015 Full Attractions Listing (Excel, 163KB) from https://www.visitbritain.org/annual-survey-visits-visitor-attractions-latest-results.

         <br>
         <br>
         The survey is carried out through a mix of online and postal interviewing. This approach means VisitBritain/VisitEngland are unable to verify results provided by individual attractions.
         It should be noted that the English attractions included in the report only feature those that choose to participate and make their results public.

     </p>
{% endblock %}