{% extends "layout.html" %}
{% block content %}
 <h2>About</h2>
     <p align="center">Each year, we invite all English visitor attractions to take part in an annual survey, recording visitor numbers alongside key information like entrance fees and visitor profiles.
        <br>
         2015 visitor admission trends.
         <br>
          <br>
         The results from this survey are reported annually, providing an overview of the visitor attraction sector.
          <br>
         <br>
         The survey is carried out through a mix of online and postal interviewing. This approach means we're unable to verify results provided by individual attractions beyond a very basic 'sense check'.
         Survey users should also be aware that the lists of English attractions included in the report only feature those that choose to participate and make their results public.
          <br>
         <br>
        The Annual Survey of Visits to Visitor Attractions is an official statistic and is produced in adherence with the Code of Practice for Official Statistics (2009).
     </p>
{% endblock %}